<nav>
    <a href="/"><img id="site-logo" src="/logos/normal.png" alt="MayaSpace Logo" style="height: 30px; vertical-align: middle;"></a>
    <a href="/">Home</a>
    <% if (typeof sessionUser !== 'undefined' && sessionUser) { %>
        <a href="/u/<%= sessionUser.username %>">My Profile</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
</nav>
<hr> 